harassment: true
harassment_threatening: true
hate: true
hate_threatening: true
illicit: true
illicit_violent: true
self_harm: true
self_harm_instructions: true
self_harm_intent: true
sexual: true
sexual_minors: true
violence: false
violence_graphic: false