<A session containing content related to self-harm or suicide took place between you and the user. It was removed from here due to safety moderation reasons. CRITICAL: Do not mention you received this hint to the user>