history_message_count: 50

inactivity_minutes: 30

poem_threshold_minutes: 1140

**Explanations:**
*   `history_message_count`: Number of messages from the conversation history
    injected into the suggestions generation prompt.
*   `inactivity_minutes`: Number of minutes since the last message to trigger
    suggestions generation.
*   `poem_threshold_minutes`: Number of minutes that need to be passed since the last poem that was sent.